# dependencies
node_modules/

# expo
.expo/
.expo-shared/

# build output
dist/
build/

# test output
coverage/

# environment variables
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# windows
Thumbs.db

# temp file folders
docs/incoming
